/* ===== COLOR PALATTE ===== */
:root {
    --primary-color: #773344;
    --secondary-color: #E3B5A4;
    --background-color: #F5E9E2;
    --footer-color: #3A3335;
    --darkening: linear-gradient(rgb(0,0,0,0.35),rgb(0,0,0,0.35));
}

/* ===== CUSTOM FONTS ===== */
@font-face {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("fonts/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url("fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: "Inter Tight";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("fonts/InterTight-VariableFont_wght.ttf");
}
@font-face {
    font-family: "JetBrains Mono";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

/* ===== PAGE FORMATTING ===== */
html { scroll-behavior: smooth; }
body {
    margin: 0rem;
    padding: 0rem;
    font-family: "Inter";
    background-color: var(--background-color);
}
.page { padding: 0.5rem 1rem; }
.page#past, .page#future, .page#comments {
    margin: 0 auto;
    max-width: 768px;
}
figcaption {
    font-family: "Inter";
    font-style: italic;
    font-size: 0.625rem;
}
footer {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--footer-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p { 
    margin: 0 1rem;
    color: white; 
    font-family: "Inter Tight";
}

/* ===== CONTENT FORMATTING (inspired by Markdown) ===== */ 
/* inline code snippets */
code {
    display: inline-block;
    font-family: "JetBrains Mono";
    border-radius: 0.5rem;
    background-color: white;
    padding: 0rem 0.25rem;
}
/* block code snippets (spanning multiple lines of code) */
code pre {
    margin: 0rem;
    font-family: "JetBrains Mono";
    font-size: 14px;
    padding: 1rem 0.75rem;
}
a, b { color: var(--primary-color); }
p { margin: 0.5rem 0; }
h1, h2, h3 { margin-bottom: 0rem; }
h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}
table { 
    text-align: left; 
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    padding: 0.25rem;
}
img { width: 100%; }

/* ===== CUSTOM ELEMENTS ===== */
/* navigation bar */
nav {
    position: static;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
}
nav a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1vh 1vh;
    font-family: "Inter Tight";
}
nav .selected { background-color: var(--secondary-color); }

/* banner */
.banner {
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner h1 { 
    font-family: "Inter Tight";
    color: white; 
}
.past-banner { 
    background-image: var(--darkening), url("images/banner/past.jpg"); 
    background-position: 50% 55%;
}
.future-banner {
    background-image: var(--darkening), url("images/banner/future.jpg");
    background-position: 50% 90%;
}
.comments-banner {
    background-image: var(--darkening), url("images/banner/comments.jpg");
    background-position: 50% 20%;
}

/* profile */
.profile { display: flex; }
.profile .sidebar {
    width: 30%;
    margin-right: 0.5rem
}
.profile .sidebar img {
    border-radius: 50%;
    width: 100%;
}
.profile .readme {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 70%;
    margin-left: 0.5rem;
}
.profile .readme .filename {
    font-family: "JetBrains Mono";
    font-size: 0.75rem;
}

/* gallery */
.gallery h1 { 
    text-align: center; 
    border-bottom: 1px solid black;
}
.gallery .container { 
    columns: 2; 
    column-gap: 0;
}
.gallery .container figure { display: inline-block; }
.gallery .container figure > * { width: 100%; }
.gallery .container figure code pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

/* timeline */
.timeline { position: relative; }
.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--primary-color);
}
.timeline .card { margin-left: 1rem; }
.timeline .card .heading {
    display: inline-flex;
    align-items: center;
}
.timeline .card .heading .trigger {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    translate: -1.25rem 0;
    background-color: black;
}
.timeline .card .heading p {
    margin: 0 0.5rem;
    translate: -1.25rem 0;
    font-weight: bold;
    font-size: 1.25rem;
}
.timeline .card .details { font-weight: 200; }

/* columns group */
.columns-2 { columns: 2; }
.columns-2 figure {
    margin: 0;
    display: inline-block;
}
.columns-2 figure img { border: 1px solid black; }

.columns-3 { columns: 3; }
.columns-3 figure { 
    margin: 0; 
    display: inline-block;
}
.columns-3 figure img { width: 100%; }
.columns-3 figure figcaption { padding-bottom: 0.5rem; }

/* palette */
.palette { 
    height: 150px;
    margin: 0 auto;
    columns: 4;
    column-gap: 0;
}
.palette > * {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.palette p { margin: 0; }

/* ==== SINGLY DEFINED CLASSES ===== */
/* color */
.primary { 
    background-color: var(--primary-color); 
    color: white;
}
.secondary { background-color: var(--secondary-color); }
.background { background-color: var(--background-color); }
.footer {
    background-color: var(--footer-color);
    color: white;
}
/* font */
.inter { font-family: "Inter"; }
.inter-tight { font-family: "Inter Tight"; }
.jetbrains-mono { font-family: "JetBrains Mono"; }

/* ===== RESPONSIVE DESIGN ===== */
/* mobile */
@media screen and (max-width: 480px) {
    .profile {
        flex-direction: column;
        align-items: stretch;
    }
    .profile .sidebar, .profile .readme {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    .profile .sidebar img {
        width: 50%;
        max-width: 160px; /* 33% of the maximum width */
        display: block;
        margin: 0 auto;
    }
    .columns-2 { columns: 1; }
    .columns-3 { columns: 1; }
    .gallery .container { columns: 1; }
    #assignment-footer-field { display: none; }
}
/* tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .columns-3 { columns: 2; }
}